.main__cart-items {
  height: 100%;
  overflow: scroll;
}

.main__cart-items::-webkit-scrollbar {
  display: none;
}

.empty-cart-display {
  flex: 1;
  display: flex;
  align-items: center;
}

.empty-cart-display img {
  bottom: 2rem;
  left: -4rem;
  width: 15rem;
  max-width: none;
}

/* cart items  */
/* custom check box  */
.cart-items input[type="checkbox"] + span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--white);

  border-radius: 5px;
  border: 3px solid var(--bright-yellow);
}

.check-icon {
  color: var(--bright-yellow);
}
