/* cart  */
.cart-padding {
  padding: var(--padding-y) var(--padding-x);
  padding-bottom: 0;
  height: 85vh;
}

/* cart header  */
.cart-header {
  width: 100%;
  border-radius: 1rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
  margin-bottom: 1.5rem;
  position: relative;

  background-color: var(--dark-brown);
  color: var(--white);
}

.cart-header h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cart-image {
  position: absolute;
  left: 0;
  top: -1rem;
}

.cart-content .btn {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

/* empty cart no item  */
.empty-cart-display {
  flex: 1;
  display: flex;
  align-items: center;
}

.empty-cart-display span {
  font-weight: 700;
}

.empty-cart-display img {
  bottom: 2rem;
  left: -4rem;
  width: 15rem;
  max-width: none;
}

/* cart with items  */
.main__cart-items {
  height: 70vh;
  overflow: scroll;
}

.main__cart-items::-webkit-scrollbar {
  display: none;
}

.main__cart-items h2 {
  color: var(--light-black);
}

.pencil-icon {
  color: var(--light-black);
  cursor: pointer;
}

.pencil-icon:hover {
  color: var(--black);
}

/* cart items  */
.cart__items-category {
  color: var(--gray);
  font-size: 0.95rem;
  font-weight: 500;

  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* custom check box  */
.cart-items input[type="checkbox"] + span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--white);

  border-radius: 5px;
  border: 3px solid var(--bright-yellow);
}

.check-icon {
  color: var(--bright-yellow);
}

/* search item on cart  */
.search-match {
  font-weight: 700;
}

/* cart item control box  */
.cart__item-control .btn {
  color: var(--bright-yellow);

  border: 1px solid var(--bright-yellow);
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  margin: 0 2px;
}

.cart__item-control div.bg-white {
  border-radius: 0.5rem;
  color: var(--bright-yellow);
  padding-right: 0.5rem;
}

.cart__item-control div.bg-white > div {
  cursor: pointer;
}

.cart__item-control .delete-btn {
  cursor: pointer;
  background-color: var(--bright-yellow);
  color: var(--white);

  padding: 0.75rem 0.5rem;
  margin-right: 0.75rem;

  border-radius: 0.5rem;
}

.minus-icon:hover,
.plus-icon:hover {
  scale: 1.1;
}

@media screen and (max-width: 420px) {
  .single-cart-item {
    flex-direction: column;
  }

  .single-cart-item {
    width: 100%;
    justify-content: center;
  }

  .cart__item-control {
    margin: 0 !important;
  }

  .cart__items-category + div > div {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px var(--light-gray);
    padding-bottom: 0.5rem;
  }
}

/* cart footer  */
.cart-footer {
  height: 15vh;
}

/* search form  */
.cart-footer form {
  width: 100%;
  border: 1px solid var(--bright-yellow);
}

.cart-footer form::placeholder {
  color: var(--light-gray);
}

.cart-footer form.cart-empty {
  border-color: var(--light-gray);
}

.cart-footer form div {
  flex: 1;
}

.cart-footer form.cart-empty .form-control:focus {
  box-shadow: none;
  outline: none;
}

.cart-footer form .btn {
  color: var(--white);
  background-color: var(--bright-yellow);

  padding: 0 1rem;
}

.cart-footer form.cart-empty .btn {
  background-color: var(--light-gray);
}

/* cart footer edit mode  */
.cart-footer {
  background-color: var(--white);
  padding: 2rem;
}

.cart-footer .btn-holder {
  justify-content: center;
}

.cart-footer .btn-holder .btn {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}

.cart-footer .btn-holder .btn:last-child {
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid transparent;
}

.cart-footer .btn-holder .btn:last-child:hover {
  box-shadow: 0 0 3px var(--light-gray);
}

@media screen and (max-width: 23.4375rem) {
  .cart-padding {
    padding: var(--padding-y) 1rem;
    padding-bottom: 0;
  }
}
