main {
  flex: 1;
}

main > div {
  width: 100%;
  justify-content: space-between;
}

/* main pages and main right sidebar  */
.app__main-content,
.app__main-sidebar {
  height: 100vh;
}

/* hide scroll bar for elements  */
.app__main-content::-webkit-scrollbar,
.app__main-sidebar::-webkit-scrollbar {
  display: none;
}

/* main pages  */
.app__main-content {
  flex: 1;
  padding: var(--padding-y) var(--padding-x);
  overflow: scroll;
}

/* main right sidebar  */
.app__main-sidebar {
  background: var(--very-light-orange);
  width: 30vw;
  box-shadow: -1px 0 10px var(--very-light-orange);
}

@media screen and (max-width: 60rem) {
  .app__main-sidebar {
    display: none;
  }
}

@media screen and (max-width: 43.75rem) {
  .app__main-content {
    padding: var(--padding-y) 1rem;
  }
}
