.app__sidebar {
  padding: var(--padding-y) 0;
  width: 5%;
  min-width: 80px;
}

.navbar {
  align-items: normal;
  height: 100%;

  padding: 0;
}

.navbar .container-fluid {
  padding: 0;
}

/* sidebar nav  */
.app__sidebar-nav {
  width: 100%;
}

.app__sidebar-nav a {
  color: var(--light-black);
}

.nav-item {
  width: 100%;
  margin: 3rem 0;
  padding: 1rem;
  border-left: 5px solid transparent;
}

.nav-item.active {
  border-left: 5px solid var(--bright-yellow);
}

.nav-item svg {
  margin: auto;
}

/* sidebar cart  */
.app__sidebar-cart {
  position: relative;
  background: var(--bright-yellow);

  border-radius: 50%;
  padding: 0.7rem;
  color: var(--white);

  cursor: pointer;
}

.app__sidebar-cart:hover {
  opacity: 0.99;
  box-shadow: 0 0 2px var(--light-red);
}

.item-num {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 1px 0.4rem;

  font-size: 0.7rem;
  background: var(--light-red);
  border-radius: 5px;
}
