/* shopping history  */

/* list view  */
.items-month p:first-child {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

.items-month .card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.items-month h2 {
  cursor: pointer;
  font-size: 1rem;
}

.items-month h2 + .d-flex {
  color: var(--light-gray);
}

.items-month .btn {
  border: 1px solid;
  border-radius: 0.5rem;
  cursor: auto;
}

.items-month .btn.completed {
  color: var(--blue);
  border-color: var(--blue);
}

.items-month .btn.cancelled {
  color: var(--light-red);
  border-color: var(--light-red);
}

.items-month .forward-icon {
  color: var(--bright-yellow);
  cursor: pointer;
}

.items-month .forward-icon:hover {
  box-shadow: 0 0 2px var(--light-gray);
}

/* detail view  */
.main__items-grocery h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.main__items-grocery .grocery-date {
  color: var(--light-gray);
  margin-bottom: 2rem;
}

.grocery-category,
.grocery-name {
  color: var(--black);
}

.grocery-category {
  font-size: 1rem;
  margin: 2rem 0 1rem;
}

.grocery-category + div .card {
  padding: 1rem;
  background-color: var(--white);
}

.grocery-name {
  font-size: 0.9rem;
}

.grocery-qty {
  color: var(--bright-yellow);
  font-size: 0.85rem;
  font-weight: 700;
}
