@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

/* general styles  */
:root {
  --base-font: "Quicksand";

  /* button  */
  --light-red: #eb5757;
  --bright-yellow: #f9a109;
  --blue: #56ccf2;
  --light-gray: #c1c1c4;
  --white: #ffffff;
  /* white button text  */
  --light-black: #34333a;
  /* right sidebar background  */
  --very-light-orange: #fff0de;
}

body {
  font-family: var(--base-font), sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light-black);
  font-weight: 700;
}
